In [1]:
import pandas as pd

# Specify the path to your Excel file
excel_file_path = "/content/Table.xlsx"

# Read the Excel file
df = pd.read_excel(excel_file_path)

# Now you can work with the DataFrame 'df'
print(df.head())

   Unnamed: 0  Unnamed: 1  Unnamed: 2 Unnamed: 3     Unnamed: 4 Unnamed: 5  \
0         NaN         NaN         NaN        NaN            NaN        NaN
1         NaN         NaN         NaN        NaN            NaN        NaN
2         NaN         NaN         NaN        NaN            NaN        NaN
3         NaN         NaN         NaN       S.no           Name    Roll No
4         NaN         NaN         NaN          1  varshinini.k          30

  Unnamed: 6
0        NaN
1        NaN
2        NaN
3       CGPA
4        8.5

In [2]:
import pandas as pd

# Specify the path to your Excel file
csv_file_path = "/content/Table.csv"

# Read the Excel file
df = pd.read_csv(csv_file_path)

# Now you can work with the DataFrame 'df'
print(df.head())

   S.no           Name  Roll No  CGPA
0     1  varshinini.k        30   8.5
1     2      manaswini       50   9.0
2     3        chaitri       55   7.8
3     4       pranathi       60   7.5

In [5]:
import pandas as pd

# Specify the path to your Excel file
csv_file_path = "/content/Table.txt"

# Read the Excel file
df = pd.read_csv(csv_file_path)

# Now you can work with the DataFrame 'df'
print(df.head())

   S.no\tName\tRoll No\tCGPA
0  1\tvarshinini.k \t30\t8.5
1        2\tmanaswini\t50\t9
2        3\tchaitri\t55\t7.8
3       4\tpranathi\t60\t7.5